<div class="footer">
    <div class="row p-5">
        <div class="col-sm-5">
            <div class="d-flex align-items-center">
                <img src="./assets/icons/Logo.png" alt="">
                <h3 class="pt-3 pl-2"><b>mangcoding Store</b></h3>
            </div>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis, justo nec porttitor auctor, erat sapien faucibus lectus, vel tempor dolor augue et lectus. </h5>
            <button type="button" class="btn bg-light w-50" style="color:#AB40FF"><b>Login Now</b></button>
        </div>
        <div class="col-sm-7">
            <div class="row ">
                <div class="col-md-3 col-sm-4 d-flex flex-column">
                    <a ><h3><b>Home</b></h3></a>
                    <a ><h3>Product</h3></a>
                    <a ><h3>Categories</h3></a>
                    <a ><h3>Shop</h3></a>
                    <a ><h3>Log in</h3></a>
                </div>
                <div class="col-md-3 col-sm-4 d-flex flex-column">
                    <a ><h3><b>Shop</b></h3></a>
                    <a ><h3>T-Shirt</h3></a>
                    <a ><h3>Jocket</h3></a>
                    <a ><h3>Shirt</h3></a>
                    <a ><h3>Jens</h3></a>
                </div>
                <div class="col-md-3 col-sm-4 d-flex flex-column">
                    <a ><h3><b>Categories</b></h3></a>
                    <a ><h3>Men</h3></a>
                    <a ><h3>Children</h3></a>
                    <a ><h3>Woman</h3></a>
                </div>
                <div class="col-md-3 col-sm-4 d-flex flex-column">
                    <a ><h3><b>Contact</b></h3></a>
                    <a ><h3>mangcoding@gmail.com</h3></a>
                    <div>
                        <img style="cursor: pointer;" src="./assets/icons/fb.png" alt="">
                        <img style="cursor: pointer;" src="./assets/icons/twetter.png" alt="">
                        <img style="cursor: pointer;" src="./assets/icons/linkedin.png" alt="">
                        <img style="cursor: pointer;" src="./assets/icons/instagram.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>