<nav class="navbar navbar-expand-lg navbar-light ">
    <img src="./assets/icons/Logo.png" alt="">
    <h3 class="pl-2 pt-3 mr-auto">mangcoding Store</h3>
    <button class="navbar-toggler" type="button" (click)="toggleNavbarCollapsing()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" [class.collapse]="navbarCollapsed">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 pr-3">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="home" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="shop" href="#">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="about" href="#">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="contact" href="#">Contact</a>
        </li>
      </ul>
      <div class=" icon my-2 my-lg-0 d-flex align-items-center">
        <div class="notify d-flex align-items-center" routerLink="cart"><img class="pr-3" src="./assets/icons/notify.png" alt=""><p class="rounded-circle">{{cartitem}}</p></div>
        <div class="notify d-flex align-items-center" routerLink="wishlist"><img class="pr-3" src="./assets/icons/heart.png" alt=""><p class="rounded-circle">{{wishitem}}</p></div>
        <img class="pr-3 " src="./assets/icons/profile1.png" alt="">
    </div>
      <form class="form-group form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" name="mysearch" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search">
        <img class="search my-2 my-sm-0" src="./assets/icons/search.png">
      </form>
    </div>
  </nav>
  