<div class="container-fluid">
    <div class="row p-5  align-items-center ">
        <div class="col-md-6 px-5 mt-3">
            <h4 style="word-spacing: 1rem;">Home / <b>Wishlist</b></h4>
            <h1 class="pt-4"><b>Wishlist</b></h1>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget gravida leo, nec iaculis diam. Nam bibendum mi sed sem finibus ullamcorper.</h5>
        </div>
    </div>
</div>
<div class=" m-5 d-flex justify-content-center align-items-center" *ngIf="wishlist==0">
    <h1 style="color: #969696;"><b>Wishlist Is Empty</b></h1>
</div>
<div class=" m-5" *ngIf="wishlist!=0">
    <div class=" row d-md-flex d align-items-center justify-content-between" >
        <div class="col-sm-3  d-flex flex-column align-items-center">
            <h2><b>Product</b></h2>
        </div>
        <div class="col-sm-3  d-flex flex-column align-items-center">
            <h2><b>Price</b></h2>
        </div>
        <div class="col-sm-3  d-flex flex-column align-items-center">
            <h2><b>Stock Status</b></h2>
        </div>
        <div class="col-sm-3  d-flex flex-column align-items-center">
        </div>
        <div style="width: 100%;background-color: #F4F4F4;" *ngFor="let item of wishlist" class="d-md-flex py-2 my-3 align-items-start justify-content-between">
           <div class=" col-md-3 d-flex align-items-center ustify-content-between">
                <img (click)="removeitem(item)" src="./assets/icons/delete.png" alt="">
                <img class="pl-2" style="width: 5rem;height:5rem;" [src]="item.image.img1" alt="">
                <div class="pl-3">
                    <h3><b>{{item.title}}</b></h3>
                    <h4>Color: {{item.color}}</h4>
                </div>
           </div>
           <div class="col-md-3 d-flex flex-column align-items-center justify-content-between">
                <h3><b>RS.{{item.price}}</b></h3>
                <h4>Price</h4>
           </div>
           <div class="col-md-3 d-flex flex-column align-items-center justify-content-between">
                <h3><b>{{item.stock}}</b></h3>
                <h4>In Stock</h4>
           </div>
           <div class="col-md-3 d-flex flex-column align-items-center justify-content-between">
            <button (click)="savecartlist(item)" class="btn">Add To Cart</button>
           </div>
        </div>
    </div>
</div>