.container-fluid{
    height: 320px;
    background: linear-gradient(#7D89FF, #AB40FF);
    color: white;
}
.center_img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid white;
}
::ng-deep .carousel-control-next{
    margin: -3rem;
    bottom:2rem
}
::ng-deep.carousel-control-prev{
    margin: -3rem;
    bottom:2rem
}
select{
    border: none;
    outline: none;
}
mat-card{
    width: 14rem;
    height: 14rem;
}
::ng-deep .bs-rating-star{
    font-size: 1.5rem;
    font-weight: lighter;
}
::ng-deep .bs-rating-star.active{
    color: yellow;
    font-size: 1.5rem;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    background-color: #5463FF;
}

@media(max-width:1436px){
    mat-card{
        width: 14rem;
        height: 18rem;
    }
}
@media(max-width:768px){
    ngx-slick-carousel{
        display: none;
    }
}