<div class="container-fluid">
    <div class="row p-5  align-items-center ">
        <div class="col-md-6 px-5 mt-3">
            <h4 style="word-spacing: 1rem;">Home / <b>Cart</b></h4>
            <h1 class="pt-4"><b>Cart</b></h1>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget gravida leo, nec iaculis diam. Nam bibendum mi sed sem finibus ullamcorper.</h5>
        </div>
    </div>
</div>
<div class="m-5">
    <h2><b>Cart Product</b></h2>
    <div class="row d-flex justify-content-start" >
        <div class="col-7" >
            <div class="row mt-3"*ngFor="let item of cartlist" style="background-color: #F4F4F4;">
                <div class="col-4 py-5 px-2">
                    <div>
                        <img style="width:5rem;height:5rem" [src]="item.image.img1" alt="">
                        <p class="mt-3">color: {{item.color}}</p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center" style="cursor: pointer;">
                            <p class="mt-2 pr-2">product notes</p>
                            <img src="./assets/icons/arrow.png" alt="" (click)="toggleNavbarCollapsing()">
                        </div>
                        <div [class.collapse]="navbarCollapsed">{{item.description}}</div>
                    </div>
                </div>
                <div class="col-4 py-5 px-2">
                    <p><b>Rs. {{totalprice}}</b></p>
                    <p>Price</p>
                </div>
                <div class="col-4 py-5 px-2">
                    <div class="d-flex align-items-start justify-content-between">
                        <div>
                            <p><b>{{item.stock}}</b></p>
                            <p>In Stock</p>
                        </div>
                        <img (click)="removeitem(item.id)" src="./assets/icons/delete.png" alt="">
                    </div>
                    <div class="d-flex align-items-center" style=" border:solid 1px; width:fit-content;" >
                        <a style="color:black" (click)="decreament()" class="pl-1 pr-5"><b>-</b></a>
                        <p class="pt-3"><b>{{n}}</b></p>
                        <a style="color:black" (click)="increament()" class="pr-1 pl-5"><b>+</b></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 mt-3">
            <div class="p-5" style="background-color: #F4F4F4;">
                <h3><b>Coupon Code</b></h3>
                <div class="d-flex flex-column align-items-start justify-content-between">
                    <input type="text" class="form-control">
                    <button class="btn mt-3 mb-3 ml-auto">Check</button>    
                </div>
                <div class="d-flex align-items-start justify-content-between">
                    <div>
                        <h3><b>Subtotal</b></h3>
                        <h3>{{n}} Product</h3>
                    </div>
                    <div><h3>Rs. {{totalprice}} </h3></div>
                </div>
                <hr>
                <div class="d-flex align-items-start justify-content-between">
                    <div><h3><b>Total</b></h3></div>
                    <div><h3>Rs. {{totalprice}} </h3></div>
                </div>
                <button class="btn ml-auto">Checkout</button>
            </div>
        </div>
    </div>
</div>