::ng-deep .bs-rating-star{
    font-size: 1.5rem;
    font-weight: lighter;
}
::ng-deep .bs-rating-star.active{
    color: yellow;
    font-size: 1.5rem;
}
mat-card{
    width: 14rem;
    height: 14rem;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    background-color: #5463FF;
}
.size{
    background-color: #F4F4F4;
    border-radius: 50%;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
}
.size.active{
    color: white;
    background-color: blue;
}