.container-fluid{
    height: 700px;
    background: linear-gradient(#7D89FF, #AB40FF);
    color: white;
}

.row div:nth-child(1){
    height: 700px;
}
.row div:nth-child(1){
    font-weight: bold;
}