<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 pl-sm-5 d-flex flex-column justify-content-sm-center">
            <h2>Get the Latest Dress Models From Us</h2>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget gravida leo, nec iaculis diam. Nam bibendum mi sed sem finibus ullamcorper.</h5>
            <button type="button" class="btn bg-light w-50">Shop Now</button>
        </div>
        <div class="col-sm-4">
           <div class="d-flex flex-column justify-content-sm-center">
            <ngx-slick-carousel class="carousel" id="slider" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let item of apidata" class="slide">
                <img [src]="item.image" alt="" width="50%">
                </div>
            </ngx-slick-carousel>
           </div>
        </div>
        <div class="col-sm-4">
            <div class="cards">
                <!-- <ngx-slick-carousel class="slider_for carousel" >
                    <div ngxSlickItem *ngFor="let item of apidata" class="slide">
                    <img [src]="item.image" alt="" width="50%">
                    </div>
                </ngx-slick-carousel>
                <ngx-slick-carousel class="slider_nav carousel" >
                    <div ngxSlickItem *ngFor="let item of apidata" class="slide">
                    <img [src]="item.image" alt="" width="50%">
                    </div>
                </ngx-slick-carousel> -->
            </div>
        </div>
    </div>
</div>

<div class="product">
    <div class="row">
        <div class="col-sm-6 p-sm-5">
            <h3 style="color: #5463FF;">CHOOSE YOUR CATEGORY</h3>
            <h2><b>Categories Style</b></h2>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget gravida leo, nec iaculis diam. Nam bibendum mi sed sem finibus ullamcorper.</h4>
        </div>
        <div class="col-sm-6 p-sm-5">
            <div>
                <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
                   <slide  *ngFor="let slide of apidata; let index=index">
                      <div class="d-flex">
                        <img [src]="slide.image" class="center" alt="image slide">
                        <h3 class="title_carousel"><b>{{slide.category}}</b></h3>
                      </div>
                   </slide>
                </carousel>
                <br/>
                <div>
                </div>
             </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-xs-6 col-sm-4 col-lg-3" *ngFor="let item of apidata">
            <mat-card class="m-5">
                <img [src]="item.image" class="center" alt="" width="50%">
                <div class="d-flex justify-content-between mt-4">
                    <h3><b>{{item.category}}</b></h3>
                    <h3><b>{{item.price}} Rs.</b></h3>
                </div>
                <div class="d-flex">
                    <rating class="pt-1" [ngModel]="item.rating.rate" 
                        [max]="max" 
                        [readonly]="true" 
                        >
                    </rating>
                    <h3>({{item.rating.count}})</h3>
                </div>
            </mat-card>
        </div>
    </div>
</div>