<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 pl-sm-5 d-flex flex-column justify-content-sm-center">
            <h2>Get the Latest Dress Models From Us</h2>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget gravida leo, nec iaculis diam. Nam bibendum mi sed sem finibus ullamcorper.</h5>
            <button type="button" class="btn bg-light w-50">Shop Now</button>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
</div>